.container{
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  display: flex;
  padding: 1.5rem;
  align-self: center;
  justify-content: space-between;
  margin-left: auto;
}

.logo{
  display: inline-flex;
  width: 10%;
  height: 10%;
}

.logo_img {
  width: 100%;
  height: 100%;
}

.title p{
  font-family: "Roboto";
  font-size: 1.2rem;
  text-align: right;
}

.big_image {
    display: flex;
    padding-top: 1em;
    justify-content: center;
    width: 100%
}

.code {
    display: inline-flex;
    width: 75%;
}

.title2 {
    color: darkgray;
    font-family: "Roboto";
    display: flex;
}

.contenedor{
      display: inline-flex;
      padding-top: 20px;
      padding-left: 12%;
      align-self: center;
      margin-left: auto;
}

.info {
    justify-content: center;
    display: inline-flex;
    flex-direction:
}

.info p {
    font-size: 2.5rem
}

.works{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.movies{
    display: flex;
    width: 80%;
    flex-direction: column;
}

.excursion {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.secret{
    display: flex;
    width: 80%;
    flex-direction: column;
}

.exp{
    width: 80%;
    align-self: center;
}

.expesp{
    width: 100%;
    align-self: center;
    margin: 2.7rem 0rem;
}


.excursion p {
    margin: 1rem 0rem;
}
