.container{
  border-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: lightgray;
  display: flex;
  padding: 1.5rem;
  align-self: center;
  justify-content: space-between;
  margin-left: auto;
}

.logo{
  display: none;
}

.title p{
  font-family: "Roboto";
  font-size: 1.2rem;
  text-align: right;
}

.big_image {
    display: flex;
    padding-top: 1em;
    justify-content: center;
    width: 100%;
    margin:auto;
}

.code {
    display: inline-flex;
    width: 100%
}

.title2 {
    color: darkgray;
    font-family: "Roboto";
    display: flex;
}

.subti{
    justify-content: center;
}

.contenedor{
      display: inline-flex;
      padding-top: 20px;
      align-self: center;
      margin-left: auto;
}

.info {
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
}

.works{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.movies{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.excursion {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.secret{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.exp{
    width: 100%;
    align-self: center;
}

.expesp{
    width: 100%;
    align-self: center;
}

.excursion p{
    padding-top: 1rem;
}
