.container{
    border-bottom: 5px;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    display: flex;
    padding: 20px;
    align-self: center;
    justify-content: space-between;
    margin-left: auto;
}

.logo {
    display: inline-flex;
    width: 10%;
    height: 10%;
}

.logo_img {
    width: 100%;
    height: 100%;
}

.title p {
    font-size: 1.2rem;
    text-align: right;
}

.big_image {
    display: flex;
    padding-top: 1em;
    justify-content: center;
    width: 100%
}

.code {
    align-self: center;
    display: inline-flex;
    width: 60%
}

.title2 {
    color: darkgray;
    display: flex;
}

.contenedor{
    display: inline-flex;
    padding-top: 20px;
    padding-left: 19.5%;
    align-self: center;
    margin-left: auto;
}

.info {
    justify-content: center;
    display: inline-flex;
}

.works{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.movies{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.excursion {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.secret{
    display: flex;
    width: 30%;
    flex-direction: column;
}

.exp{
    width: 100%;
    align-self: center;
}

.expesp{
    width: 100%;
    align-self: center;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}

.excursion p{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

@media screen and (min-width: 360px) and (max-width: 759px) {
    .logo{
        display: block;
        width: 20%;
        height: 20%;
    }

    .logo_img{
        width: 100%;
    }

    .big_image {
        margin:auto;
    }

    .code {
        width: 100%;
    }

    .subti{
        justify-content: center;
    }

    .contenedor {
        padding-top: 20px;
    }

    .info {
        flex-direction: column;
    }

    .works {
        flex-direction: column;
        width: 100% ;
    }

    .movies {
        width: 100%;
    }

    .excursion {
        width: 100%;
    }

    .secret {
        width: 100%;
    }

    .expesp {
        width: 100%;
        align-self: center;
    }

    .excursion p{
        padding-top: 1rem;
    }
}

@media screen and (min-width: 760px) and (max-width: 1189px) {
    .container {
        padding: 1.5rem;
    }

    .code {
        align-self: center;
        width: 60%;
    }

    .contenedor {
        padding-left: 19.5%;
    }

    .info p {
        font-size: 2.5rem
    }

    .works {
        width: 100%;
        flex-direction: column;
    }

    .movies {
        width: 80%;
    }

    .excursion {
        width: 30%;
    }

    .secret {
        width: 30%;
    }

    .exp {
        width: 30%;
    }
}

